<a href="https://colab.research.google.com/github/riada98-dot/AI-Bootcamp1/blob/main/AI_HUB_Python_Lecture_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Printing and Variables

In [ ]:
#print fuinction
print("Hello World!")

Hello World!

In [ ]:
# Definition of variables
x=10
print(x)

y=20
print(y)

z=x+y
print(z)

10
20
30

In [ ]:
num1=10
num2=20
num3=num1/num2
mytext="engineering"
mybool=True

#print the type of different variables.
print(type(num1))
print(type(num3))
print(type(mytext))
print(type(mybool))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# Prints the length of the string
x="Hello World"
len(x)

11

In [ ]:
#Converts a string to uppercase and lowercase and prints both
x.upper()
print(x.upper())

x.lower()
print(x.lower())

HELLO WORLD
hello world

_________________________________________________________________

concatenation function

In [ ]:
# how to concatenate strings and add numbers
print("hello"+" "+"world")
print(20+8)

hello world
28

In [ ]:
# Correct way by using str() to convert integer to string
print("hello"+str(20)) #or
print("hello"+"20")

hello20
hello20


 Boolean and comparison operators

In [ ]:
# use of relational operators and prints the results.
x=1>5
print(x)


x=1<5
print(x)


x= 1<=5
print(x)


x= 1!=5
print(x)

False
True
True
True

# Python Data Structures

## List

In [ ]:
name1="ali"
name2="ahmed"
name3="hassan"

print(name1)
print(name2)
print(name3)

ali
ahmed
hassan

In [ ]:
#list
students=["ali","rawan","yasmeen","ahmad","noor","hassan","jasser","alaa","kareem","ayah"]
print(students)

['ali', 'rawan', 'yasmeen', 'ahmad', 'noor', 'hassan', 'jasser', 'alaa', 'kareem', 'ayah']

In [ ]:
print(students[0])      # Accesses the first element of the list
print(students [3])     #Accesses the fourth element of the list
print(students [-1])    #Accesses the last element of the list
print(students[0:5])    #Accesses the first 5 elements of the list
print(students[:5])     #Accesses the first 5 elements of the list
print(students[1:])     #Accesses the second element to the last element
print(students[0:9:2])  #Accesses every second element of the list

ali
ahmad
ayah
['ali', 'rawan', 'yasmeen', 'ahmad', 'noor']
['ali', 'rawan', 'yasmeen', 'ahmad', 'noor']
['rawan', 'yasmeen', 'ahmad', 'noor', 'hassan', 'jasser', 'alaa', 'kareem', 'ayah']
['ali', 'yasmeen', 'noor', 'jasser', 'kareem']

In [ ]:
print(students)      #Accesses all the elements of the list
print(students[:])   #Accesses all the elements of the list
print(students[0:])  #Accesses all the elements of the list

#These methods have the same result.

['ali', 'rawan', 'yasmeen', 'ahmad', 'noor', 'hassan', 'jasser', 'alaa', 'kareem', 'ayah']
['ali', 'rawan', 'yasmeen', 'ahmad', 'noor', 'hassan', 'jasser', 'alaa', 'kareem', 'ayah']
['ali', 'rawan', 'yasmeen', 'ahmad', 'noor', 'hassan', 'jasser', 'alaa', 'kareem', 'ayah']

In [ ]:
employee=["kareem", 25 , "medical engineering"]


print(type(employee))         # List type
print(type(employee[0]))      # String type
print(type(employee[1]))      # Integer type

print(len(employee))          # Returns the length of the list

<class 'list'>
<class 'str'>
<class 'int'>
3

In [ ]:
print(employee.reverse())        # Reverses the list
print(employee)

None
['medical engineering', 25, 'kareem']

In [ ]:
print(employee.append(500))     #add element at the end of the list
print(employee)


employee.remove("kareem")       #delete element from the list
print(employee)


employee.insert(0, "kareem")    #insert element at the specified index
print(employee)


employee[1]="30"                #change element at the specified index
print(employee)

None
['kareem', 25, 'medical engineering']
None
['kareem', 25, 'medical engineering', 500]
[25, 'medical engineering', 500]
['kareem', 25, 'medical engineering', 500]
['kareem', '30', 'medical engineering', 500]

## Tuple

The advantage of a tuple is that it cannot be modified or items added to it

In [ ]:
tuple1= (1,2,3,4,5,6)

In [ ]:
# Error: Tuple has no attribute 'append'
tuple1.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
## # Error: Tuple do not support item assignment or modification
tuple1[1]=10

TypeError: 'tuple' object does not support item assignment

## Set

A set is an unordered collection of unique elements

In [ ]:
s={1,3,4,5,6,7,8}
print(s)

{1, 3, 4, 5, 6, 7, 8}

In [ ]:
s.add(10)
print(s)

{1, 3, 4, 5, 6, 7, 8, 10}

In [ ]:
s.add(1)  # Attempts to add 1, but it already exists in the set
print(s)  # Set remains unchanged because sets do not allow duplicates

{1, 3, 4, 5, 6, 7, 8, 10}

In [ ]:
s.remove(1)  # Removes the element 1 from the set
print(s)

{3, 4, 5, 6, 7, 8}

In [ ]:
s.clear()  # Clears the set
print(s)

set()

## Dectionary

In [ ]:
d={"name ":"ali","age ":25}

print(d)

print(d["name "])             #print a value based on a key

{'name ': 'ali', 'age ': 25}
ali

In [ ]:
d.keys()  # Print the keys of the dictionary

dict_keys(['name', 'age'])

In [ ]:
d.values()  # Print the values of the dictionary

dict_values(['ali', 25])

In [ ]:
del d['name ']  # Delete the 'name' entry from the dictionary
print(d)

{'age ': 25}

In [ ]:
d.update({"major":"computer engineering"})  # add a new key-value pair to the dictionary

print(d)

{'name': 'ali', 'age': 25, 'major': 'computer engineering'}

In [ ]:
d.clear()  # Clear the dictionary
print(d)

{}